<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuahangfood">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DonHangChiTiet"></activity>
        <activity android:name=".activity.DonHang" />
        <activity android:name=".activity.ThanhToan" />
        <activity android:name=".activity.GioHang" />
        <activity android:name=".activity.Chitietsanpham" />
        <activity android:name=".activity.AddProduct" />
        <activity android:name=".activity.LapTopActivity" />
        <activity android:name=".activity.DienThoaiActivity" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>